#title{
    text-align: center;
}
#parent{
    text-align: center;
    margin: 0 auto;
    width: 900px;
    height: 150px;
}
.droptarget {
    float: left;
    width: 10%; 
    margin: auto;
    padding: 3px;
    border-style: solid;
    transition: transform .2s;
}
.droptarget:hover {
    transform: scale(1.1); 
  }
body {
    background: #154472;
}