.droptarget {
    float: left; 
    width: 100px; 
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
  }
    
    #parent >div
        {
    float:left;
    clear:none;
    margin-left:10px;
        }