.App {
  text-align: center;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: darkgray;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  text-align: center;
  margin-bottom: 10px;
  font-size: large;
  font-weight: bold;
}

.root {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  
  margin: auto;
}

.square {
  background: rgb(8, 58, 30);
  border: 2px solid rgb(0, 0, 0);
  float: left;
  font-size: 90px;
  font-weight: bold;
  line-height: 34px;
  height: 103px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 103px;
  color:blanchedalmond;
}
.square:active{
  transform: translateY(1px);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;

}

.game-info {
  margin-left: 20px;
}

.game-board {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 309px;
  min-height: 309px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

