html,
body {
background-color: dimgray;
}
.App {
  text-align: center;  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.strike {
  text-decoration: line-through;
  color: darkgreen;
}

.App-logo {
  height: 120px;
  pointer-events: none;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
