body {
    background: #173c79;
}
.container{
    margin-right: 30 px;
    text-align: center;
    float: left;
    position: relative;
}
.scoreBoard{
    margin-left: 20px;
    text-align: center;
    position: relative;
}
.title{
    text-align: center;
}